.row {
  background-color: #000;
  outline: 1px solid #ccc;
  text-align: center;
}

.sorter-box {
  height: auto;
  padding-bottom: 40px;
}

.main-row {
  height: 100%;
}

.tie-row {
  height: 75%;
}

.undo-row {
  height: 25%;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
